{% extends 'base.html.twig' %}

{% block title %}Inscription - Home24.fr
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<h1>Inscription à Home24.fr</h1>
	<br>
	<h2>Votre meilleure décision de la journée !</h2>
	<br>
	{{ form_errors(registrationForm) }}

	{{ form_start(registrationForm) }}
	{{ form_row(registrationForm.email) }}
	<br>
	{{ form_row(registrationForm.plainPassword, {
            'label': 'Mot de passe',
            'class':'form-control'
        }) }}
	<br>
	{{ form_row(registrationForm.agreeTerms, {
        'label': 'J\'accepte les conditions d\'utilisation du site',
         'class':'form-control'
    }) }}
	<br>
	{{ form_row(registrationForm.save, {
        'label': 'Valider mon inscription',
        'class':'form-control'
    }) }}

	{{ form_end(registrationForm) }}
{% endblock %}
