{% extends 'base.html.twig' %}

{% block title %}
	Création d'un produit
{% endblock %}

{% block body %}
	<h1>Enregistrement d'un nouveau produit</h1>
	{{ form_start(form) }}
	{{ form_errors(form) }}
	{{ form_row(form.name, {
		'label': 'Nom',
		'attr': {
			'class':'form-control',
			'placeholder':'Nom du nouveau produit',
		}
	})}}
	{{ form_row(form.shortDescription, {
		'label': 'Description',
		'attr': {
			'class':'form-control',
			'placeholder':'Description courte du produit',
		}
	})}}
	{{ form_row(form.price, {
		'label': 'Prix',
		'attr': {
			'class':'form-control',
			'placeholder':'Prix en €',
		}
	})}}
	{{ form_row(form.publicationDate, {
		'label' : 'Date de création du produit',
		'attr': {
			'class':'form-control',
		}

	}) }}
	{{ form_row(form.mainPicture, {
		'label': 'Image du produit',
		'attr': {
			'class':'form-control',
		}
	})}}
	{{ form_row(form.category, {
		'label': 'Catégorie du produit',
		'attr': {
			'class':'form-control',
		}
	})}}
	<br>
	{{ form_row(form.save, {
      'label': 'Créer le produit',
     })
	 }}
	{{ form_end(form) }}
{% endblock %}
