{% extends 'base.html.twig' %}

{% block title %}
	Mes commandes
{% endblock %}

{% block body %}
	<h1>Bonjour
		{{ name }}
	</h1>
	<br>
	<h2>Récapitulatif de mes commandes</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Numéro</th>
				<th>Adresse</th>
				<th>Date de commande</th>
				<th>Contenu</th>
				<th>Statut</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			{% for purchase in purchases %}
				<tr>
					<td>{{ purchase.id }}</td>
					<td>{{ purchase.address }}
						.
						{{ purchase.postalCode }}
						.
						{{ purchase.city }}
					</td>
					<td>{{ purchase.purchasedAt|date('d/m/Y') }}</td>
					<td>
						<ul style="list-style-type:none; padding:0; margin:0;">
							{% for item in purchase.purchaseItems %}
								<li>{{ item.productQuantity }}
									x
									{{ item.productName }}
									{{ item.total }}
									€
								</li>
							{% endfor %}
						</ul>
					</td>
					<td>{{ purchase.status }}</td>
					<td>{{ purchase.total /100 }}
						€</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
