<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Salut !
		</title>
	</head>
	<body>
		<h1>Hello
			{{prenom}}</h1>
		<p>Vous avez
			{{age}}
			ans
		</p>
		{% if age >=18 %}
			Vous etes un adulte
		{% else %}
			Vous êtes un enfant
		{% endif %}
		<ul>
			{% for i in 1..10 %}
				<li>
					Numéro
					{{i}}
				</li>
			{% endfor %}
		</ul>
		<ul>
			{% for personne in prenoms %}
				<li>
					Tu t'appelles
					{{personne | upper}}
				</li>
				<li>Et aussi
					{{personne}}</li>
			{% endfor %}
		</ul>
	</body>
</html></body></html></body></html>
