{% extends "base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<h1>Les nouveautés du moment !</h1>
	<div class="row">
		{% for product in products %}
			<div class="col">
				<div
					class="card">
					{#} Gestion des images avec les fixtures {#}
					<img
					src="{{ product.mainPicture }}" class="img-fluid" alt="image produit">
					{#} Gestion des "vrais" images en production
					<img src="{{ asset('uploads/products_image/'~ product.mainPicture) }}" class="img-fluid" alt="image produit">
					{#}
					<div class="card-body">
						<h4 class="card-title">{{ product.name }}
							-
							{{ product.price /100 }}
							€
						</h4>
						<a href="{{ path('product_category', {'slug': product.category.slug }) }}" class="badge badge-info">
							{{ product.category.name }}
						</a>
						<p class="card-text">{{ product.publicationDate|date("d/m/Y") }}</p>
						<p class="card-text">{{ product.shortDescription }}</p>
						<a href="{{ path('product_show', {'category_slug': product.category.slug, 'slug': product.slug }) }}" class="btn btn-primary btn-sm">
							Détails du produit
						</a>
						<a href="#" class="btn btn-success btn-sm">
							Ajouter au panier
						</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<hr>
	<h2>Un service irréprochable</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At iure sapiente amet ipsum? Autem, harum!</p>
	<div class="row">
		{% include "shared/_assurance.html.twig" with {
            "color": "primary",
            "icone": "fas fa-truck",
            "text": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe voluptates tempore exercitationem illo aperiam ipsam."
        }%}
		{% include "shared/_assurance.html.twig" with {
            "color": "success",
            "icone": "fas fa-check",
            "text": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe voluptates tempore exercitationem illo aperiam ipsam."
        }%}
		{% include "shared/_assurance.html.twig" with {
            "color": "warning",
            "icone": "fas fa-lock",
            "text": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe voluptates tempore exercitationem illo aperiam ipsam."
        }%}
	</div>
{% endblock %}
