{% extends "base.html.twig" %}

{% block body %}
	{# <h1>Hello
			{{prenom}}</h1>
		<ul>
			{% for legal in ages %}
				{% if legal >=18 %}
					<li>Adulte</li>
				{% else %}
					<li>Enfant</li>
				{% endif %}
			{% endfor %}
		</ul>
		{% for format in formateur %}
			<p>Mon formateur s'appelle
				<b>{{format.prenom}}
					{{format.nom}}</b>
				et il a
				{{format.age}}
				ans !</p>
		{% endfor %} #}
	Bonjour vous avez
	{{age}}
	ans
{% endblock %}

{# {% block title %}
	Hello
	{{prenom}}
{% endblock %} #}
