{% extends "base.html.twig" %}

{% block body %}
	<h1>Hello
		{{prenom}}</h1>
	<ul>
		{% for legal in ages %}
			{% if legal >=18 %}
				<li>Adulte</li>
			{% else %}
				<li>Enfant</li>
			{% endif %}
		{% endfor %}
	</ul>
	<p>Mon formateur s'appelle
		<b>{{formateur.prenom}}
			{{formateur.nom}}</b>
		et il a
		{{formateur.age}}
		ans !</p>
{% endblock %}

{% block title %}
	Hello
	{{prenom}}
{% endblock %}
